.Cell {
  cursor: cell;
  display: inline-block;
  border: 1px solid #e7e7e7;
  user-select: none;
  white-space: nowrap;
  width: 100px;
  background-color: #fff;
  &-Label {
    background-color: #f5f5f5;
    text-align: center;
  }
  &-Text {
    overflow: hidden;
    padding: 4px 10px;
  }
}