.Header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #eee;
  flex: 0 0;
  &-Icon {
    flex: 0 0 55px;
    padding: 10px 15px 10px 15px;
  }
  &-Body {  
    flex: 1 1 auto;
    padding: 10px 15px 10px 0;
    display: flex;
    justify-content: space-between;
    & span {
      font-size: 20px;
      line-height: 40px;
    }
    &-Right {
      display: flex;
    }
  }
  form {
    display: flex;
    marign: auto;
    input {
      width: 100px;
      margin-right: 5px;
    }
  }
}